# Ignore test images directory to avoid uploading potentially sensitive or large user images
test_images/

# Ignore Mac OS hidden files
.DS_Store

# Ignore editor directories
.idea/
.vscode/
__pycache__/
.venv/
.vercel
node_modules/
.cache/
.tmp*/
0
1
.env*.local
